* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

.p-4 {
  padding: 1rem;
}

.border-collapse {
  border-collapse: collapse;
}

.border {
  border-width: 1px;
  border-style: solid;
}

.border-gray-400 {
  border-color: #9ca3af;
}

.border-gray-300 {
  border-color: #d1d5db;
}

.w-full {
  width: 100%;
}

.bg-gray-100 {
  background-color: #f3f4f6;
}

.p-2 {
  padding: 0.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  user-select: none;
}

.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 1rem;
}

.flex {
  display: flex;
}

.flex.justify-end {
  justify-content: flex-end;
}

.gap-4 {
  gap: 1rem;
}

.gap-2 {
  gap: 0.5rem;
}

.items-center {
  align-items: center;
}

.p-1 {
  padding: 0.25rem;
}

.disabled\:opacity-30:disabled {
  opacity: 0.3;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}